<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c_food_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.C_food_app">
        <activity
            android:name=".Admin_View_Item"
            android:exported="false" />
        <activity
            android:name=".Admin_View_Ordered"
            android:exported="false"
            android:label="Admin View Ordered" />
        <activity
            android:name=".Admin_Home"
            android:exported="false"
            android:label="Admin" />
        <activity
            android:name=".MyOrder"
            android:exported="false"
            android:label="Order Details" />
        <activity
            android:name=".Set_Delivery_Address"
            android:exported="false"
            android:label="Set Delivery Address" />
        <activity
            android:name=".Checkout_Details"
            android:exported="false" />
        <activity
            android:name=".View_Cart"
            android:exported="false"
            android:label="My Cart" />
        <activity
            android:name=".Edit_My_Account"
            android:exported="false" />
        <activity
            android:name=".My_Account"
            android:exported="false" />
        <activity
            android:name=".View_Item"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:label="Home" />
        <activity
            android:name=".CreateAccount"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:label="Log in" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>